<div class="row" style="border-top: 10px solid #111111">
   	<div id="registration-panel" class="col-offset-4 col-lg-4">
   		<% if user_signed_in? %>
			  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
		<% else %>
		<% end %>

   		<h2 class="k-white k-centered k-no-margin">Keep-A-Contact</h2>
   		<p class="k-centered k-grey-one k-padding">Store &amp; Maintain Your Relationships</p>
   		<div class="row">
   			<div class="col-lg-12 k-centered">
   				<%= image_tag("logo_home.png", :alt => "Edit Entry", :id => 'logo-home') %>
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-lg-12 k-centered k-padding">
   				<%= link_to "Connect via Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn btn-primary btn-large' %>
   			</div>
   		</div>
   	</div>
</div> <!-- End #registration-panel -->

<div class="row">
	<div class="col-offset-3 col-lg-6">
		<div class="row">
			<div class="col-lg-5">
				<div class="k-padding">
					<h2 class="k-centered k-gold">Back-Up</h2>
					<p class="k-white k-centered k-eighteen">Your Contacts from your Social Networks</p>
				</div>
			</div>
			<div class="col-offset-2 col-lg-5">
				<div class="k-padding">
					<h2 class="k-centered k-gold">Maintain</h2>
					<p class="k-white k-centered k-eighteen">Your Relationships through Automated Salutations</p>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End Overview Content -->

<div class="row">
	<div id="landing-lower-container" class="col-lg-12">
		<div class="row">
			<div class="col-offset-3 col-lg-6 landing-panel k-box-shadow-one">

			</div>
		</div>
		<div class="row">
			<div class="col-offset-3 col-lg-6 landing-panel k-box-shadow-one">

			</div>
		</div>
		<div class="row">
			<div class="col-offset-3 col-lg-6 landing-panel k-box-shadow-one">

			</div>
		</div>
	</div>
</div>