<div class="row">
   	<div id="dashboard-container" class="col-lg-12">
   		<div class="row">
   			<div id="navigation-container" class="col-lg-3">
		   	</div>

		</div>
   	</div>
</div>


<!-- Modal for Add Group -->
<div id="add-group-modal" class="modal fade">
</div><!-- /.modal -->

<!-- Modal for Edit Group -->
<div id="edit-group-modal" class="modal fade">
</div><!-- /.modal -->