<div class="row">
	<div id="header-container" class="col-lg-12">
	</div>
</div>	
<div class="row">
   	<div id="dashboard-container" class="col-lg-12">
   		<div class="row">
		   	<div id="navigation-container" class="col-lg-3">
		   		
		   	</div>
		   	<div id="feed-container" class="col-lg-6">
		   		
		   	</div>
		   	<div id="suggestions-container" class="col-lg-3">
		   		
		   	</div>
		</div>
   	</div>
</div>