<form>
  <fieldset> 
    <div class="form-group">
      <input type="text" class="form-control" id="facebook-contacts-search-field" placeholder="Search Contacts">
    </div>
  </fieldset>
</form>

<h4 class="k-white k-padding-top">Groups</h4>
<ul id="navigation-groups-list" class="list-unstyled k-white">
	<% _.each(collection, function(collection) { %>
		<li class="group-list-item" draggable="true" data-id="<%= collection.id %>" data-name="<%= collection.name %>"><%= collection.name %> </li>
	<% }); %>
</ul>
<button type="button" class="btn btn-default btn-mini">New Group</button>

<h4 class="k-white k-padding-top">Responses</h4>
<ul id="navigation-responses-list" class="list-unstyled k-white">
	<li>Birthdays</li>
	<li>Checking In</li>
	<li>Holidays</li>
	<li>Other</li>
</ul>
<button type="button" class="btn btn-default btn-mini">New Response Category</button>