<% _.each(collection, function(collection) { %>
		<li draggable="true"><img src="https://graph.facebook.com/<%= collection.id %>/picture" class="facebook-contact-photo"/> <span class="facebook-contact-name"><%= collection.name %></span> </li>
<% }); %>