<div class="modal-dialog">
  	<div class="modal-content">
		<div class="modal-body">
			<h3 class="k-centered" style="margin-bottom:15px;">Edit Group</h3>
			<input type="text" id="group-name-field" class="k-centered form-control k-box-shadow-one" size="25" placeholder="Group Name" style="margin:0px auto!important;max-width:250px" value="<%= groupname %>">
			<p class="k-centered k-padding"><a id="group-delete-link" href="#" style="color:#e97171">Delete this Group</a></p>
			<p class="k-centered">
				<button id="edit-group-submit-button" class="btn btn-primary" >Submit Changes</button>
			</p>
		</div>
	</div>
</div><!-- /.modal-dialog -->