<div class="modal-dialog">
  	<div class="modal-content">
		<div class="modal-body">
			<h3 class="k-centered" style="margin-bottom:15px;">Add New Group</h3>
			<input type="text" id="group-name-field" class="k-centered form-control k-box-shadow-one" size="25" placeholder="Group Name" style="margin:0px auto!important;max-width:250px">
			<p class="k-centered" style="padding-top:15px;">
				<button id="add-group-submit-button" class="btn btn-primary">Create</button>
			</p>
		</div>
	</div>
</div><!-- /.modal-dialog -->